:root {
    --pale-yellow: #FFFF99;
    --fuxia: #FF00FF;
    --mbrown: #A52A2A;
    --yellow-brown: #DAA520;
  }

body {
    font-family: 'Avenir', sans-serif;
    background-color: #F4EDD4;
}

.btn-custom {
    background-color: var(--pale-yellow);
    border-color: var(--mbrown); 
    color: #000;
    transition: 750ms;
}

.btn-custom:hover {
    background-color: var(--yellow-brown); 
    border-color: var(--pale-yellow);
}


.navbar-custom {
    background-color: #E1DCCE; 
    color: #333; 
}
.navbar-brand, .nav-link {
    color: #333; 
}

.footerer{
    color: rgb(28, 37, 168);
    background-color: grey;
}