body {
    margin: 0;
    background-color: black;
}

h1{
    font-size: 68px;
}

h2{
    font-size: 40px;
    text-align: center;
    line-height: 1.75em;
}

.Han1{
    display: flex;
    justify-content: center;
}


.main-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color:bisque;
}

.main-menu li {
    display: inline;
    margin-right: 30px;
    font-size: 25px;
    color:bisque;
}

.main-menu li:last-child {
    margin-right: 0;
    color:bisque;
}

.header {
    background-color: black;
    color: white;
    padding: 20px 0;
    font-size: 1.25rem;
    font-weight: bold;

}


.container {
    max-width: 80%;
    margin: 0 auto;
    color:#fff8e7;
}

.main-menu a {
    text-decoration: none;
    color: white;
    color:#fff8e7;
}

main p {
    text-align: justify;
}

.imga {
    float: right;
}

p {
    text-align: left;
}

.footer {
    font-weight: bold;
    background-color: black;
    color:#fff8e7;
    padding: 20px 0;
    margin-top: 20px;
}



.btn {
    font-size: 1.5em;
    line-height: 1.25em;
    text-decoration: none;
    color:#fff8e7;
    border: 3px solid blueviolet;
    padding: 10px;
    border-radius: 15px;
    display: inline-block;
    transition: color 1s, border-color 1s;
}

.mee {
    color:#fff8e7;
    border: 3px solid blueviolet;
}


.btn:hover {
    color:  blueviolet;
}

table {
    font-size: 2em;
    border-collapse: collapse;
}

table, th, td {
    border: 3px solid #fff8e7;
}

th, td {
    text-align: center;
    padding: 5px;
}

.text-center {
    text-align: center;
    font-size: 1.3em;
    line-height: 1.2em;
    font-weight: bold;
}

.text-upper {
    text-transform: uppercase;
}

.AA{
    font-size: 1.5em;
}

.pad{
    padding-bottom: 85px;
}