*{
    background-color: #0A0A0A;
    color: #fffff0;
    font-family: Arial, sans-serif;
}

body {
    margin: 40px;
    padding: 40px;
    margin-top: 0;
}

body p{
    font-size: 30px;
}


.main{
    text-align: center;
}

.h1{
    text-align: center;
    font-size: 5.5em;
    font-weight: bold;
    line-height: 0em;
}

.h2{
    text-align: center;
    font-size: 4.5em;
    font-weight: bold;
}

.h3{
    text-align: center;
    font-size: 3.5em;
    font-weight: bold;
    margin: 0;
}

.image{
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.superhuman p{
    font-size: 20px;

}


.flex-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
}


.month-box {
    flex: 0 0 calc(31.5% - 10px); 
    margin: 8px 0;
    padding: 10px; 
    border: 8px double yellow; 
    border-radius: 25px; 
    background: linear-gradient(to right, black, rgb(108, 16, 194)); 
}


.month-box p {
    color: white;
    font-size: 1.55em;
    font-weight: bold;
    line-height: 1.1em;
    text-align: center;
    margin: 10px 0; 
    background: linear-gradient(to right, black, rgb(108, 16, 194)); 
}

.month-box .MBH{
    font-size: 2.3em;
    font-weight: bold;

}


ul {
    list-style: none;
    text-align: center;
    padding: 10;
    margin: 0;
}

li {
    display: inline;
    margin-right: 50px;
    font-size: 35px;
}




footer{
    text-align: center;
    margin-top: 30px;
}

.btn{
    font-size: 2em;
    border: 3px solid white;
    border-radius: 5px;
    padding: 5px;
}

.btn:hover{
    color:aqua
}



