.sticky {
    position: sticky;
}

img, iframe {
    border-radius: 5%;
}

textarea {
    height: 200px !important;
}

.footer-line {
    background-color: #f9f8fa;
    opacity: 1;
}

.contact-info {
    padding-right: 0; 
    margin-right: 0; 
    margin-left: 100px;
    padding-left: 250px;
}
