body {
    margin: 0;
    background-color: #F2F5F1;
}
 
span{
    font-size: 1.5em;
}

.header {
    background-color: rgb(52, 0, 100);
    color: white;
    font-size: 70px;
    padding: 20px;
    padding-left: 50px;
    border-bottom: 2px solid rgb(243, 240, 54);
}
 
.header > nav {
    display: flex;
}
 
.title {
    margin-left: 20px;
}
 
.logo {
    max-height: 70px;
}
 
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}
 
.facts-list-item {
    margin-top: 20px;
    background-color: #d7d7d7;
}
 
.item-content {
    padding: 20px;
}
 
.item-footer {
    display: flex;
    padding: 10px;
    background-color: #1d3557;
    color: white;
    font-weight: bold;
}
 
.author-name {
    flex-grow: 1;
}
 
.upvotes {
    background-image: url('images/upvote_white.png');
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 30px;
}
 
.pagination-info {
    margin-top: 20px;
    font-weight: bold;
    display: flex;
}
 
.current-interval-info {
    font-size: 1.5em;
    margin-left: auto;
    padding-top: 3px;
}
 
.per-page-btn {
    background-color: white;
    font-size: 20px;
    border: 1px solid rgb(243, 240, 54);
    border-radius: 20px;
}
 
.pagination {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
    height: 40px;
}
 
.btn {
    background-color:#1d3557;
    padding: 0 10px;
    font-size: 100%;
    font-weight: bold;
    color: white;
    outline: none;
    cursor: pointer;
    height: 100%;
    border: 3px solid rgb(243, 240, 54);
    box-sizing: border-box;
    transition: color 1s, border-color 1s;
}
 
.btn:hover {
    background-color: #F2F5F1;
    color: black;
}
 
.active {
    background-color: #F2F5F1;
    color: black;
}
 
.first-page-btn, .last-page-btn {
    width: 250px;
}
 
.pages-btns > button {
    margin-right: 5px;
}
 
.search-form {
    margin: 40px 0;
    display: flex;
}
 
.search-content {
    flex-grow: 1;
    border: 3px solid rgb(248, 244, 0);
    box-sizing: border-box;
    font-size: 100%;
    outline: none;
    display: flex;
    position: relative;
}
 
.search-field {
    flex-grow: 1;
    border: 3px solid rgb(248, 244, 0);
    border: none;
    outline: none;
    padding: 0 20px;
    height: 40px;
}
 
.search-btn {
    padding: 0 20px;
    font-size: 100%;
    font-weight: bold;
    background-color: #1d3557;
    border: 3px solid rgb(243, 240, 54);
    border-left: none;
    color: white;
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
    transition: color 1s, border-color 1s;
}
 
.search-btn:hover {
    background-color: #F2F5F1;
    color: black;
}
 
.show-helps {
    width: 100%;
    position: absolute;
    top: 40px;
    border: 1px solid #ccc;
    background-color: white;
    border-top: none;
    left: -4.5px;
}
 
.show-helps-item {
    padding: 0 20px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color .3s ease-in;
}
 
.show-helps-item:hover {
    background-color: rgb(255, 154, 120);
}